<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="~{layout :: head}"> 
</head>
<body>
	
	<!-- Navegación -->
	<header th:replace ="~{layout :: header}"> </header>
    <!-- Cuerpo del documento -->
	    <div class="container">
			<div class="card">
			  <div class="card-content">
			    <div class="content">
				    <p th:text="'Hello, ' + ${name} + '!'" />
				    <p th:text="'Página > ' + ${titulo}" />
				    
					<div class="card">
					  <div class="card-content">
					    <p class="title">
					      
					    </p>
					    <p class="subtitle">
					      Bienvenido a la consulta de API deste Java con Spring Boot Personajes de StarWar
					    </p>
     				    <p th:text="'APISW { '" />
     				    <p th:text="'         ' + ${starWViewtDTO.name}  " />
     				    <p th:text="'         ' + ${starWViewtDTO.height} " />
     				    <p th:text="'         ' + ${starWViewtDTO.mass} " />
     				    <p th:text="'         ' + ${starWViewtDTO.hair_color} " />
     				    <p th:text="'       }'" />
     				    
     				    <p></p>
     				    <br>
  				        <p class="title is-4">Temas Selectos de SW</p>
				        <p class="subtitle is-6">Ingeniería en Sistemas Computacionales</p>						
					  </div>
					  <footer class="card-footer">
					    <br class="card-footer-item">
						   <p>UACAM-FI</p>
					  </footer>
					</div>
				    
			    </div>
			  </div>
			</div>		
	    </div>
	<!-- Footer -->
	<footer th:replace ="~{layout :: footer}"></footer> 

</body>
</html>